.react-datepicker {
  width: 100%;
  border: none !important;
  background-color: inherit !important;
  user-select: none;
}

.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker .react-datepicker__header {
  background-color: inherit !important;
  border: none;
}

/* .react-datepicker__header--custom {
  color: var(--chakra-colors-chakra-body-text);
} */

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day-name {
  color: var(--chakra-colors-chakra-body-text) !important;
}

.react-datepicker__month {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 !important;
}

.react-datepicker__week {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.react-datepicker__day:hover:not(.react-datepicker__day--disabled) {
  color: var(--chakra-colors-gray-50) !important;
  background-color: var(--chakra-colors-teal-300) !important;
}

.react-datepicker__day.react-datepicker__day--selected {
  background-color: var(--chakra-colors-teal-600) !important;
  /* color: var(--chakra-colors-gray-300) !important; */
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit !important;
}

.react-datepicker__header,
.react-datepicker__day,
.react-datepicker__time-name,
.react-datepicker__current-month {
  /* color: var(--chakra-colors-chakra-body-text) !important; */
  color: inherit;
}

.react-datepicker__day--outside-month {
  visibility: hidden;
}

.react-datepicker__day.react-datepicker__day--disabled {
  color: var(--chakra-colors-gray-400) !important;
  font-weight: 300 !important;
  background-color: inherit !important;
}
